/nbproject/project.properties
/nbproject/project.xml
/phpcake/app/Controller/AppController.php~
/phpcake/app/View/Posts/add.ctp
/phpcake/app/View/Posts/delete.ctp
/phpcake/app/View/Posts/edit.ctp
/phpcake/app/View/Posts/index.ctp
/phpcake/app/View/Posts/view.ctp
/phpcake/app/View/Users/login.ctp
/phpcake/app/webroot/js/jquery.js~
/phpcake/app/webroot/js/timer.js~
.htaccess
.svn
.settings
.buildpath
.project
php_erros.log
*.log
/nbproject/private/